<div class="container">
  <h1>New free books online</h1>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        {{# each books}}
          <div class="col-md-4 col-lg-4">
            <h3><a href="{{bookUrl slug}}">{{{title}}}</a></h3>
            {{#if image}}
              <img src="{{{cloudinaryUrl image width=160 height=160 crop="fit"}}}" class="thumbnail">
            {{/if}}
            <h4>{{{author}}}</h4>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>